body{
    background-color: rgb(229, 210, 196)
}

.header{
    display: flex;
    justify-content: space-around;
    font-family: monospace;
    color:rgb(247, 160, 213);
    background-color:rgb(203, 224, 243)
}
.name {
    font-size: 75px;
    font-weight: bold;
    margin-right: 500px ;
}
.quote{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 3opx;
    color:rgb(181, 130, 185)
}
a {
    font-weight: bold;
    font-size: 20px;
    margin-top: 75px;
}
img{
    max-width: 100%;
}
.second{
    display:flex;
    justify-content: space-around;
}
.mission{
    font-family: monospace;
    font-size: 50px;
    font-weight: bolder;
    color: darksalmon;
    background-color: rgb(240, 214, 205);
    margin: 75px;
    padding-top: 200px;
    text-align: center;
}
.Cassis{
    max-width: 75%;
    border: 10px solid rgb(203, 224, 243);
    flex
}
.intro{
    color:rgb(250, 136, 97);
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    font-size: 50px;
}
.firsthobby{
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    font-weight: bolder;
    color: darksalmon;
    background-color: rgb(240, 214, 205);
    margin: 75px;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    display: flex;
    justify-content: space-around;
}
.secondhobby{
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    font-weight: bolder;
    color: darksalmon;
    background-color: rgb(240, 214, 205);
    margin: 75px;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    display: flex;
    justify-content: space-around;
}
.thirdhobby{
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    font-weight: bolder;
    color: darksalmon;
    background-color: rgb(240, 214, 205);
    margin: 75px;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    display: flex;
    justify-content: space-around;
}
.hike{
    max-width: 25%;
    border: 10px solid rgb(203, 224, 243);
}
.garden{
    max-width: 25%;
    border: 10px solid rgb(203, 224, 243);
}
.noodle{
    max-width: 25%;
    border: 10px solid rgb(203, 224, 243);
}